@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html,
body {
  font-family: 'Shadows Into Light', cursive;
  background: center / cover
    url(https://images.unsplash.com/photo-1506667474372-f37b9c394afa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
}
p {
  font-family: Open Sans, sans-serif;
}

.front {
  @apply relative isolate flex flex-col justify-center items-center overflow-hidden rounded-2xl bg-gray-900 py-20 transition-all duration-500 [transform-style:preserve-3d];
}
.open {
  @apply [transform:rotateY(180deg)];
}
.back {
  @apply absolute hidden [transform:rotateY(180deg)];
}
.b-open {
  @apply absolute  [transform:rotateY(180deg)];
}
